.profileBar {
    position: fixed;
    width: 100%;
    height: 3rem;
    z-index: 100;
    top: 6rem;
    background: #FFF0F5;
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileBar-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 90%;
}

#profileBar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    max-width: 50%;    
}

.profile-NavList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 40%;
    flex-direction: row;
}

.profileBar-container ul li .navLink {
    color: #D81B60;
    font-size: 1.2rem;
}