.header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #FF6EC7;
    font-weight: bold;
    align-items: center;
}

.logo img {
    width: 150px;
}

.navBar a {
    position: relative;
    font-size: 18px;
    color: #FF6EC7;
    font-weight: bold;
    margin-left: 40px;
}

.navBar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0%;
    width: 0%;
    height: 2px;
    background: #FF6EC7;
    transition: .3s;
}

.navBar a:hover::before {
    width: 100%;
}