.particles-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(to bottom, transparent, #333, #0d0d0d);
  opacity: .9;
}

.custom-class {
  font-size: 1.3rem;
}